@font-face {
    font-family: 'mada_extralightregular';
    src: url($url+'/fonts/mada-extralight-webfont.eot');
    src: url($url+'/fonts/mada-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url($url+'/fonts/mada-extralight-webfont.woff') format('woff'),
         url($url+'/fonts/mada-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mada_lightregular';
    src: url($url+'/fonts/mada-light-webfont.eot');
    src: url($url+'/fonts/mada-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($url+'/fonts/mada-light-webfont.woff') format('woff'),
         url($url+'/fonts/mada-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mada_mediumregular';
    src: url($url+'/fonts/mada-medium-webfont.eot');
    src: url($url+'/fonts/mada-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url($url+'/fonts/mada-medium-webfont.woff') format('woff'),
         url($url+'/fonts/mada-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'madaregular';
    src: url($url+'/fonts/mada-regular-webfont.eot');
    src: url($url+'/fonts/mada-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($url+'/fonts/mada-regular-webfont.woff') format('woff'),
         url($url+'/fonts/mada-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mada_semiboldregular';
    src: url($url+'/fonts/mada-semibold-webfont.eot');
    src: url($url+'/fonts/mada-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($url+'/fonts/mada-semibold-webfont.woff') format('woff'),
         url($url+'/fonts/mada-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mada_blackregular';
    src: url($url+'/fonts/mada-black-webfont.eot');
    src: url($url+'/fonts/mada-black-webfont.eot?#iefix') format('embedded-opentype'),
         url($url+'/fonts/mada-black-webfont.woff') format('woff'),
         url($url+'/fonts/mada-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'madabold';
    src: url($url+'/fonts/mada-bold-webfont.eot');
    src: url($url+'/fonts/mada-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($url+'/fonts/mada-bold-webfont.woff') format('woff'),
         url($url+'/fonts/mada-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
