doctype html
html(lang="es-ES")
  head
    meta(charset='utf-8')
    meta(name='viewport' ,content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    title Portfolio
    //- Favicon
    //-Css a Usar
    link(rel='stylesheet', href='css/style.css')

  body
    //- - url = "";
    #body
        include general/header
        include includes/home
        include includes/perfil
        include includes/skills
        include includes/portfolio
        include includes/contact
    script(src='js/plugins/plugins.js')
    script(src='js/bundle.js')