$url:"https://raw.githubusercontent.com/spectrecode/NuevoPortafolio/master/";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	// overflow-y: hidden;
}
a{
	text-decoration: none;
	color: inherit;
}
#body{
	width: 85%;
	margin:auto;
	max-width: 1450px;
	// display: flex;
	// white-space: nowrap;
	// width: 500vw;
	// // flex-direction: row;
	section{
		height: 100vh;
		// width: 100vw;
	}
}
//Extras
// @import "extras/bootstrap-sass-3.3.7/bootstrap";
// @import "extras/sprites";   

//Globales
@import "globals/variables";
@import "globals/fonts";
//Secciones
@import "sections/header";
@import "sections/home";
@import "sections/perfil";
@import "sections/skills";
@import "sections/portfolio";
