//- section#home.section
//- 	.box_home
//- 		.title
//- 			h2 Christy #[br]Castro Cuba Bazan
//- 			span Front End Developer Jr.
//- 		.img_home
//- 			//- .title
//- 			//- 	h2 Portafolio
//- 			.laptop_festejo
//- 				.festejo
