style.
	.box_skills{
		width:91%;
		margin-left: auto;
		display: flex;
		justify-content: flex-end;
	}
	.box_items{
		display: flex;
		justify-content: space-between;
		height: 100vh;
	}
	.box_items .items{
		width: 250px;
		display: flex;
		justify-content: center;
		align-items:center;
	}
section
	.box_skills
		.box_items
			.items(style="background-color:#000000")
				h4 HTML5
			.items(style="background-color:#ffffff")
				h4 HTML5
			.items(style="background-color:#000000")
				h4 HTML5
			.items(style="background-color:#ffffff")
				h4 HTML5