header#header
	.box_header
		.burguer
			.linesE
				.lE1
					.line
					.line
				.lE1
					.line
					.line
			.linesH
				.line
				.line
				.line
				.line
	//- ul
	//- 	li
	//- 		a(href="") Home
	//- 	li
	//- 		a(href="") Home
	//- 	li
	//- 		a(href="") Home
	//- 	li
	//- 		a(href="") Home
	nav.box_items
		a Perfil
		a Habilidades
		a Portafolio
		a Contacto
